.slide-1693 .bridging-the-digital-divide-together-lets-lead-indonesias-digital-future {
  margin: 0 150px 12px 150px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 60px;
  line-height: 1.4;
  color: #2B2C2E;
}
.slide-1693 .menawarkan-solusi-multimedia-berkualitas-global-memimpin-era-baru-dalam-industri-ini-kami-berkomitmen-untuk-memberikan-produk-berkualitas-tinggi-menjadi-pilihan-utama-bagi-pengguna-yang-mencari-kualitas-internasional {
  margin: 0 150px 259px 150px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2C2E;
}
.slide-1693 .tentang-kami {
  margin: 0 1px 37px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #AA0A2F;
}
.slide-1693 .klik-source-menyajikan-informasi-terupdate-dengan-sentuhan-inovatif {
  margin-bottom: 37px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: #2B2B2B;
}
.slide-1693 .sejak-didirikan-87-tahun-silam-antara-telah-menjelma-menjadi-raksasa-multimedia-yang-tak-tergoyahkan-tak-hanya-berkutat-pada-penyajian-berita-kini-antara-melebarkan-sayapnya-dengan-menghadirkan-berbagai-produk-multimedia-kelas-dunia-visi-menjadi-kantor-berita-terdepan-di-dunia-menjadi-kompas-yang-menuntun-langkah-antara-dalam-berinovasi-dan-bertransformasi-era-digital-yang-melanda-dunia-menjadi-pendorong-utama-bagi-antara-untuk-terus-berkreasi-beragam-produk-digital-berkualitas-tinggi-dihadirkan-untuk-memenuhi-kebutuhan-masyarakat-yang-kian-dinamis-komitmen-teguh-untuk-senantiasa-menjadi-yang-terdepan-dalam-dunia-multimedia-menjadikan-antara-sebagai-pilihan-utama-bagi-siapapun-yang-mencari-informasi-terpercaya-dan-terkini {
  margin-bottom: 7px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #717171;
}
.slide-1693 .selengkapnya {
  margin-bottom: 109px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  color: #717171;
}
.slide-1693 .solve-your-business-problems-withourindustry-solutions {
  margin-bottom: 50px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 60px;
  line-height: 1.133;
  color: #2B2B2B;
}
.solve-your-business-problems-withourindustry-solutions-sub78 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 60px;
  line-height: 1.333;
  color: #880000;
}
.slide-1693 .rectangle-48 {
  background: #800000;
  margin: 4px 30px 0 0;
  width: 7px;
  height: 293px;
}
.slide-1693 .beranda {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  color: #676767;
}
.slide-1693 .component-1061 {
  margin-bottom: 45px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .beranda-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  color: #676767;
}
.slide-1693 .component-157 {
  margin-bottom: 45px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .beranda-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  color: #676767;
}
.slide-1693 .component-158 {
  margin-bottom: 45px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .beranda-3 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  color: #676767;
}
.slide-1693 .component-159 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .container-21 {
  margin: 16px 262.9px 14px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.slide-1693 .rectangle-24 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_24.png') 50% / cover no-repeat;
  margin: 8px 30px 1px 0;
  width: 403px;
  height: 288px;
}
.slide-1693 .berpengalaman-sejak-1937-dalam-media-berita-foto-video-dan-infografis {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  color: #2B2C2E;
}
.slide-1693 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat {
  margin-right: 20px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2C2E;
}
.slide-1693 .group-29 {
  margin-bottom: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.slide-1693 .container-18 {
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.slide-1693 .component-160 {
  margin: 0 155.3px 120px 147px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.slide-1693 .ayo-bangun-ekosistem-berita-digital-indonesia-bersama-imcs {
  margin: 0 41px 19px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: #2B2B2B;
}
.slide-1693 .produk-dan-layanan-kami {
  margin: 0 42px 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #800000;
}
.slide-1693 .group-33 {
  width: 358px;
  height: 59.6px;
}
.slide-1693 .group-48 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-right: 77px;
  display: flex;
  padding: 38.7px 0 36.8px 1px;
  width: 469px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .group-34 {
  width: 377px;
  height: 61.8px;
}
.slide-1693 .group-49 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 32.9px 1px 40.3px 0;
  width: 490px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .container-12 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1036px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .group-341 {
  margin-right: 11.9px;
  width: 265.5px;
  height: 62.2px;
}
.slide-1693 .pr {
  margin-right: 4.6px;
  width: 60.6px;
  height: 24.8px;
}
.slide-1693 .wire {
  border-radius: 1px;
  width: 87.2px;
  height: 21.5px;
}
.slide-1693 .group-36 {
  border-radius: 1px;
  margin: 2.9px 0 0.4px 0;
  display: flex;
  width: 87.2px;
  height: 21.5px;
  box-sizing: border-box;
}
.slide-1693 .group-37 {
  margin: 17.5px 0 19.9px 0;
  display: flex;
  flex-direction: row;
  width: 152.5px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .group-50 {
  border-radius: 8px;
  background: #FFFFFF;
  position: absolute;
  right: -611px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  padding: 32.7px 50.1px 40.1px 0;
  width: 534px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .vector-32 {
  width: 289px;
  height: 67.7px;
}
.slide-1693 .group-54 {
  border-radius: 8px;
  background: #FFFFFF;
  position: absolute;
  right: -2799px;
  bottom: 0px;
  display: flex;
  padding: 34px 0 33.3px 1px;
  width: 470px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .download-1 {
  background: url('../assets/images/download_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: -64px;
  translate: -50% 0;
  width: 228px;
  height: 221px;
}
.slide-1693 .mask-group {
  position: relative;
  width: 228px;
  height: 97px;
}
.slide-1693 .group-55 {
  border-radius: 8px;
  background: #FFFFFF;
  position: absolute;
  right: -3346px;
  bottom: 0px;
  display: flex;
  padding: 19px 0;
  width: 470px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .group {
  margin-right: 4.7px;
  width: 272.9px;
  height: 63.9px;
}
.slide-1693 .tv {
  border-radius: 2px;
  margin: 16.1px 0 19.5px 0;
  width: 60.4px;
  height: 28.3px;
}
.slide-1693 .group-51 {
  border-radius: 8px;
  background: #FFFFFF;
  position: absolute;
  right: -1158px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  padding: 36.9px 0 34.2px 0;
  width: 470px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .group-2 {
  width: 289px;
  height: 75.2px;
}
.slide-1693 .group-1 {
  display: flex;
  width: 289px;
  height: 75.2px;
  box-sizing: border-box;
}
.slide-1693 .group-52 {
  border-radius: 8px;
  background: #FFFFFF;
  position: absolute;
  right: -1705px;
  bottom: 0px;
  display: flex;
  padding: 30.1px 1px 29.7px 0;
  width: 470px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .image-5 {
  background: url('../assets/images/image_5.png') 50% / cover no-repeat;
  position: absolute;
  right: -30.4px;
  bottom: -34.3px;
  width: 318.2px;
  height: 174.6px;
}
.slide-1693 .mask-group-1 {
  position: relative;
  width: 260px;
  height: 113.2px;
}
.slide-1693 .group-53 {
  border-radius: 8px;
  background: #FFFFFF;
  position: absolute;
  right: -2252px;
  bottom: 0px;
  display: flex;
  padding: 11px 0 10.8px 12px;
  width: 470px;
  height: 135px;
  box-sizing: border-box;
}
.slide-1693 .frame-2 {
  position: relative;
  display: flex;
  width: 1620px;
  box-sizing: border-box;
}
.slide-1693 .vector-1 {
  margin: 56px 0 53px 0;
  width: 13px;
  height: 26px;
}
.slide-1693 .container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1662px;
  box-sizing: border-box;
}
.slide-1693 .group-111 {
  margin-bottom: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1662px;
  box-sizing: border-box;
}
.slide-1693 .lihat-semua-produk {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.slide-1693 .component-156 {
  border-radius: 8px;
  background: #800000;
  position: relative;
  margin-right: 41px;
  display: flex;
  padding: 9px 2.8px 12px 0;
  width: 257px;
  box-sizing: border-box;
}
.slide-1693 .frame-17 {
  background: #F0F0F0;
  position: relative;
  margin-bottom: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 108px 95px 150px;
  width: 1920px;
  box-sizing: border-box;
}
.slide-1693 .merek-terkemuka-berkolaborasi-dengan-kami {
  margin: 0 127.5px 60px 127.5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  color: #2B2B2B;
}
.slide-1693 .image-6 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  width: 251.8px;
  height: 33.1px;
}
.slide-1693 .group-175 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 22px 0.8px 0;
  display: flex;
  padding: 27.1px 30.5px 27.1px 22.9px;
  width: 305.2px;
  height: 87.3px;
  box-sizing: border-box;
}
.slide-1693 .blommberg-1 {
  background: url('../assets/images/blommberg_1.png') 50% / cover no-repeat;
  width: 284.8px;
  height: 61px;
}
.slide-1693 .group-173 {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 22px 0.8px 0;
  display: flex;
  padding: 9.3px 11px 17px 11px;
  width: 306.9px;
  height: 87.3px;
  box-sizing: border-box;
}
.slide-1693 .kyodo-news-1 {
  background: url('../assets/images/kyodo_news_1.jpeg') 50% / cover no-repeat;
  width: 208.5px;
  height: 54.3px;
}
.slide-1693 .group-174 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-right: 33px;
  display: flex;
  padding: 17px 0;
  width: 306.9px;
  height: 88.2px;
  box-sizing: border-box;
}
.slide-1693 .thomson-reuters-logo-1 {
  background: url('../assets/images/thomson_reuters_logo_1.png') 50% / cover no-repeat;
  width: 241.6px;
  height: 33.9px;
}
.slide-1693 .group-170 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 27.1px 0;
  width: 306px;
  height: 88.2px;
  box-sizing: border-box;
}
.slide-1693 .container {
  margin-bottom: 24.8px;
  display: flex;
  flex-direction: row;
  width: 1302px;
  box-sizing: border-box;
}
.slide-1693 .image-7 {
  background: url('../assets/images/image_7.png') 50% / cover no-repeat;
  width: 211.9px;
  height: 65.3px;
}
.slide-1693 .group-165 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-right: 21.1px;
  display: flex;
  padding: 7.9px 0 15px 12px;
  width: 306.9px;
  height: 88.2px;
  box-sizing: border-box;
}
.slide-1693 .logo-ttxvn-1 {
  background: url('../assets/images/logo_ttxvn_1.png') 50% / cover no-repeat;
  width: 175.5px;
  height: 52.6px;
}
.slide-1693 .group-167 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-right: 21px;
  display: flex;
  padding: 17.8px 0;
  width: 306px;
  height: 88.2px;
  box-sizing: border-box;
}
.slide-1693 .afp-logo-1 {
  background: url('../assets/images/afp_logo_1.png') 50% / cover no-repeat;
  width: 164.5px;
  height: 70.4px;
}
.slide-1693 .group-168 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-right: 21.6px;
  display: flex;
  padding: 9.3px 0 8.5px 14.4px;
  width: 231.4px;
  height: 88.2px;
  box-sizing: border-box;
}
.slide-1693 .image-9 {
  background: url('../assets/images/image_9.png') 50% / cover no-repeat;
  width: 193.3px;
  height: 67.8px;
}
.slide-1693 .group-169 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 10.2px 0 10.2px 0.8px;
  width: 306px;
  height: 88.2px;
  box-sizing: border-box;
}
.slide-1693 .container-14 {
  margin: 0 44px 24.8px 44px;
  display: flex;
  flex-direction: row;
  width: 1214px;
  box-sizing: border-box;
}
.slide-1693 .image-10 {
  background: url('../assets/images/image_10.png') 50% / cover no-repeat;
  width: 133.9px;
  height: 72.9px;
}
.slide-1693 .group-166 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 19.4px 0.8px 0;
  display: flex;
  padding: 1.7px 0 13.6px 0;
  width: 230.6px;
  height: 88.2px;
  box-sizing: border-box;
}
.slide-1693 .rect-4515 {
  width: 106.9px;
  height: 71.7px;
}
.slide-1693 .layer-1 {
  display: flex;
  width: 106.9px;
  height: 71.7px;
  box-sizing: border-box;
}
.slide-1693 .group-150 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 19.4px 1.7px 0;
  display: flex;
  padding: 8px 17.6px 7.7px 0;
  width: 219.6px;
  height: 87.3px;
  box-sizing: border-box;
}
.slide-1693 .sputnik-logo-1 {
  background: url('../assets/images/sputnik_logo_1.png') 50% / cover no-repeat;
  width: 75.4px;
  height: 70.4px;
}
.slide-1693 .group-151 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 19.7px 1.7px 0;
  display: flex;
  padding: 8.5px 0;
  width: 221.3px;
  height: 87.3px;
  box-sizing: border-box;
}
.slide-1693 .bernama-tv-1 {
  background: url('../assets/images/bernama_tv_1.png') 50% / cover no-repeat;
  width: 53.4px;
  height: 63.6px;
}
.slide-1693 .group-152 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 19.6px 1.7px 0;
  display: flex;
  padding: 11.9px 0 11.9px 0.8px;
  width: 220.4px;
  height: 87.3px;
  box-sizing: border-box;
}
.slide-1693 .rectangle-41 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  width: 220.4px;
  height: 87.3px;
}
.slide-1693 .ap-news-1 {
  background: url('../assets/images/ap_news_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 80.5px;
  height: 78.8px;
}
.slide-1693 .group-153 {
  position: relative;
  display: flex;
  padding-top: 1.7px;
  width: 220.4px;
  height: 89px;
  box-sizing: border-box;
}
.slide-1693 .group-172 {
  margin: 0 55.6px 0 56px;
  display: flex;
  flex-direction: row;
  width: 1190.4px;
  box-sizing: border-box;
}
.slide-1693 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.slide-1693 .mendapatkan-manfaat-dari-daya-tarik-dan-keunggulan-layanan-kami {
  position: absolute;
  left: 50%;
  top: 50px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 31px;
  line-height: 1.613;
  color: #800000;
}
.slide-1693 .frame-18 {
  position: relative;
  margin: 0 0 92px 0px;
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .from-accomplishments-to-accolades-klik-source-keeps-you-informed {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 30px;
  line-height: 1.667;
  color: #939393;
}
.slide-1693 .group-133 {
  margin: 0 7px 40px 7px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .milion {
  margin-bottom: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 70px;
  line-height: 0.714;
  color: #FFFFFF;
}
.slide-1693 .page-view-every-month {
  margin: 0 21.4px 0 22px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 25px;
  line-height: 2;
  color: #939393;
}
.slide-1693 .group-130 {
  margin: 18px 108.8px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.slide-1693 .container-1 {
  margin-bottom: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 70px;
  line-height: 0.714;
  color: #FFFFFF;
}
.slide-1693 .media-per-month {
  margin: 0 14.8px 0 15px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 25px;
  line-height: 2;
  color: #939393;
}
.slide-1693 .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.slide-1693 .container-2 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.667;
  color: #FFFFFF;
}
.slide-1693 .group-129 {
  position: relative;
  margin-right: 108.6px;
  display: flex;
  padding-top: 18px;
  box-sizing: border-box;
}
.slide-1693 .milion-1 {
  margin-bottom: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 70px;
  line-height: 0.714;
  color: #FFFFFF;
}
.slide-1693 .subscriber {
  margin-left: 0.1px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 25px;
  line-height: 2;
  color: #939393;
}
.slide-1693 .group-131 {
  margin: 18px 108.5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.slide-1693 .container {
  margin: 0 0.2px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 70px;
  line-height: 0.714;
  color: #FFFFFF;
}
.slide-1693 .partner-country {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 25px;
  line-height: 2;
  color: #939393;
}
.slide-1693 .group-132 {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.slide-1693 .container-15 {
  margin: 0 0 44px 7px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.slide-1693 .subscribe-untuk-dapat-informasi-terupdate-dari-kami {
  margin: 11px 48.8px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 37px;
  color: #2B2C2E;
}
.slide-1693 .subscribe {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  color: #FFFFFF;
}
.slide-1693 .group-56 {
  border-radius: 7px;
  background: #800000;
  position: relative;
  display: flex;
  padding: 20px 1px 19px 0;
  width: 218px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .container-9 {
  border-radius: 15px;
  background: #FFFFFF;
  position: relative;
  margin-right: 0.3px;
  display: flex;
  flex-direction: row;
  padding: 25px 77px 26px 84px;
  width: fit-content;
  box-sizing: border-box;
}
.slide-1693 .group-207 {
  border-radius: 42px;
  background: #2B2C2E;
  position: relative;
  margin: 0 150px 68px 150px;
  display: flex;
  flex-direction: column;
  padding: 62px 90.7px 91px 83px;
  width: fit-content;
  box-sizing: border-box;
}
.slide-1693 .antara-update {
  margin: 0 0 63px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: #2B2B2B;
}
.slide-1693 .whats-new {
  margin: 0 171px 20px 171px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2C2E;
}
.slide-1693 .container-3 {
  background: url('../assets/images/image_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -10.6px;
  bottom: 5.5px;
  width: 142.5px;
  height: 134.3px;
}
.slide-1693 .mask-group-2 {
  border-radius: 7px;
  position: relative;
  margin-right: 11px;
  width: 128px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .imcs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #AA0A2F;
}
.slide-1693 .component-164 {
  margin-bottom: 4px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .jakpus-gandeng-pengadilan-negeri-sediakan-loket-layanan-satu-pintu {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #000000;
}
.slide-1693 .component-100 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .container-2 {
  margin: 46.7px 0 33.7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.slide-1693 .container-10 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5.3px 0 8.3px 34px;
  width: 361px;
  box-sizing: border-box;
}
.slide-1693 .rectangle-61 {
  background: #FFFFFF;
  width: 67.4px;
  height: 19.3px;
}
.slide-1693 .group-206 {
  border-radius: 17px;
  background: url('../assets/images/rectangle_54.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-right: 16px;
  display: flex;
  width: 150px;
  height: 107.3px;
  box-sizing: border-box;
}
.slide-1693 .imcs-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #AA0A2F;
}
.slide-1693 .component-165 {
  margin-bottom: 4px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .jakpus-gandeng-pengadilan-negeri-sediakan-loket-layanan-satu-pintu-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #000000;
}
.slide-1693 .component-1002 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .container-20 {
  margin: 21.7px 0 19.7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.slide-1693 .container-6 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 30.3px 7.7px 22.3px 22px;
  box-sizing: border-box;
}
.slide-1693 .rectangle-541 {
  border-radius: 17px;
  background: url('../assets/images/rectangle_541.jpeg') 50% / cover no-repeat;
  margin-right: 16px;
  width: 137px;
  height: 104px;
}
.slide-1693 .imcs-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #AA0A2F;
}
.slide-1693 .component-166 {
  margin-bottom: 4px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .jakpus-gandeng-pengadilan-negeri-sediakan-loket-layanan-satu-pintu-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #000000;
}
.slide-1693 .component-1001 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .container-8 {
  margin: 19px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.slide-1693 .container-11 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 33px 17.2px 23px 21px;
  box-sizing: border-box;
}
.slide-1693 .container-4 {
  background: url('../assets/images/image_2.jpeg') 50% / cover no-repeat;
  position: absolute;
  right: -23.1px;
  bottom: -11.1px;
  width: 176.1px;
  height: 117.9px;
}
.slide-1693 .mask-group-3 {
  border-radius: 17px;
  position: relative;
  margin-right: 12px;
  width: 134px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .imcs-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #AA0A2F;
}
.slide-1693 .component-167 {
  margin-bottom: 4px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.slide-1693 .jakpus-gandeng-pengadilan-negeri-sediakan-loket-layanan-satu-pintu-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.222;
  color: #000000;
}
.slide-1693 .component-1003 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .container-17 {
  margin: 15.9px 0 20.3px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.slide-1693 .container-7 {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 36.1px 10.7px 21.7px 14px;
  box-sizing: border-box;
}
.slide-1693 .container-16 {
  margin: 0 155px 87px 150px;
  display: flex;
  flex-direction: row;
  column-gap: 57px;
  width: fit-content;
  box-sizing: border-box;
}
.slide-1693 .heading-1-tetap-terhubung {
  margin: 0 30px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #FFFFFF;
}
.slide-1693 .punya-pertanyaan-tentang-antara-jangan-ragu-untuk-hubungi-kami {
  margin-bottom: 9.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.slide-1693 .kontak-kami {
  opacity: 0.7;
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 1.429;
  color: #FFFFFF;
}
.slide-1693 .corsecantara-id {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.slide-1693 .div-flex-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.slide-1693 .group-6 {
  width: 359px;
  height: 84px;
}
.slide-1693 .component-98 {
  margin: 70.5px 0 78px 0;
  display: flex;
  width: 359px;
  height: 84px;
  box-sizing: border-box;
}
.slide-1693 .container-19 {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1229px;
  box-sizing: border-box;
}
.slide-1693 .symbol {
  margin-right: 9px;
  width: 38px;
  overflow-wrap: break-word;
  font-family: 'Font Awesome 5 Brands', 'Roboto Condensed';
  font-weight: 400;
  font-size: 45px;
  line-height: 0.4;
  color: #FFFFFF;
}
.slide-1693 .symbol-1 {
  overflow-wrap: break-word;
  font-family: 'Font Awesome 5 Brands', 'Roboto Condensed';
  font-weight: 400;
  font-size: 45px;
  line-height: 0.4;
  color: #FFFFFF;
}
.slide-1693 .symbol-2 {
  overflow-wrap: break-word;
  font-family: 'Font Awesome 5 Brands', 'Roboto Condensed';
  font-weight: 400;
  font-size: 45px;
  line-height: 0.4;
  color: #FFFFFF;
}
.slide-1693 .group-204 {
  margin: 0 0 37.5px 107.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 241px;
  box-sizing: border-box;
}
.slide-1693 .antara-all-right-reserved-privacy-policy-term-conditions {
  overflow-wrap: break-word;
  font-family: 'Font Awesome 5 Brands', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.059;
  color: #FFFFFF;
}
.antara-all-right-reserved-privacy-policy-term-conditions-sub3 {
  font-family: 'Font Awesome 5 Brands', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.333;
}
.antara-all-right-reserved-privacy-policy-term-conditions {
  font-family: 'Font Awesome 5 Brands', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.333;
  color: #9B9B9B;
}
.slide-1693 .group-208 {
  margin-right: 75.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.slide-1693 .kontak {
  background: #2B2C2E;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 89.5px 0 51.5px 0;
  width: 1920px;
  box-sizing: border-box;
}
.slide-1693 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.slide-1693 .container-5 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  position: absolute;
  top: 135px;
  right: -98px;
  width: 1230px;
  height: 820px;
}
.slide-1693 .group-9 {
  width: 37.9px;
  height: 40.1px;
}
.slide-1693 .group-8 {
  display: flex;
  width: 37.9px;
  height: 40.1px;
  box-sizing: border-box;
}
.slide-1693 .component-163 {
  border-radius: 7px;
  background: #800000;
  position: absolute;
  top: 918.7px;
  right: 64px;
  display: flex;
  padding: 15.9px 16.6px 11.7px 16.5px;
  width: 439px;
  height: 303.3px;
  box-sizing: border-box;
}
.slide-1693 .vector-59 {
  margin: 0.1px 5.3px 0px 0;
  width: 12px;
  height: 48.5px;
}
.slide-1693 .vector-60 {
  margin-right: 3.8px;
  width: 54.5px;
  height: 48.6px;
}
.slide-1693 .vector-61 {
  margin: 0.3px 0.9px 0px 0;
  width: 41.5px;
  height: 48.3px;
}
.slide-1693 .vector-62 {
  margin: 0px 0 0.1px 0;
  width: 34.6px;
  height: 48.5px;
}
.slide-1693 .group-4 {
  margin: 8.1px 16.1px 5.5px 0;
  display: flex;
  flex-direction: row;
  width: 152.6px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .beyond {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 29.2px;
  color: #898989;
}
.slide-1693 .news {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 29.2px;
  color: #898989;
}
.slide-1693 .group-5 {
  position: relative;
  display: flex;
  height: 62.2px;
  box-sizing: border-box;
}
.slide-1693 .group-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.slide-1693 .beranda-4 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2B2B;
}
.slide-1693 .component-106 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .beranda-5 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2B2B;
}
.slide-1693 .component-107 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .beranda-6 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2B2B;
}
.slide-1693 .component-108 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .beranda-7 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2B2B;
}
.slide-1693 .component-109 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .beranda-9 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2B2B;
}
.slide-1693 .component-110 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .beranda-8 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2B2B;
}
.slide-1693 .component-111 {
  display: flex;
  box-sizing: border-box;
}
.slide-1693 .container-22 {
  margin: 18.9px 0 13.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 915px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .pertanyaan {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.slide-1693 .group-22 {
  border-radius: 4px;
  background: #800000;
  position: relative;
  display: flex;
  padding: 7px 19.4px 7px 19px;
  box-sizing: border-box;
}
.slide-1693 .id {
  margin-right: 10.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #2B2B2B;
}
.slide-1693 .vector-11 {
  margin: 14px 0 11px 0;
  width: 9px;
  height: 5px;
}
.slide-1693 .group-28 {
  margin: 10px 0 4px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.slide-1693 .container-4 {
  margin: 8.9px 0 9.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  height: fit-content;
  box-sizing: border-box;
}
.slide-1693 .frame-3 {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38.1px 150px 38.7px 150px;
  box-sizing: border-box;
}
.slide-1693 {
  background: #FFFFFF;
  display: flex;
  padding-top: 314px;
  width: 1920px;
  box-sizing: border-box;
}
